<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>黄鹤楼</string>
		<key>Latitude</key>
		<real>30.54363002</real>
		<key>Longitude</key>
		<real>114.30467606</real>
		<key>Image</key>
		<string>1</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>武汉大学</string>
		<key>Latitude</key>
		<real>30.538031</real>
		<key>Longitude</key>
		<real>114.363825</real>
		<key>Image</key>
		<string>2</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>西湖</string>
		<key>Latitude</key>
		<real>30.22395718</real>
		<key>Longitude</key>
		<real>120.12800932</real>
		<key>Image</key>
		<string>3</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>上海环球金融中心</string>
		<key>Latitude</key>
		<real>31.234311</real>
		<key>Longitude</key>
		<real>121.507775</real>
		<key>Image</key>
		<string>4</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>天门山</string>
		<key>Latitude</key>
		<real>29.04799128</real>
		<key>Longitude</key>
		<real>110.47885895</real>
		<key>Image</key>
		<string>5</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>峨眉山</string>
		<key>Latitude</key>
		<real>29.568368</real>
		<key>Longitude</key>
		<real>103.349951</real>
		<key>Image</key>
		<string>6</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>故宫</string>
		<key>Latitude</key>
		<real>39.918056</real>
		<key>Longitude</key>
		<real>116.397027</real>
		<key>Image</key>
		<string>7</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>长城</string>
		<key>Latitude</key>
		<real>40.356585</real>
		<key>Longitude</key>
		<real>116.01548</real>
		<key>Image</key>
		<string>8</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>青海湖</string>
		<key>Latitude</key>
		<real>36.916366</real>
		<key>Longitude</key>
		<real>99.604483</real>
		<key>Image</key>
		<string>9</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>玉龙雪山</string>
		<key>Latitude</key>
		<real>27.125282</real>
		<key>Longitude</key>
		<real>100.213717</real>
		<key>Image</key>
		<string>10</string>
	</dict>
</array>
</plist>
